---
import Layout from "../../../layouts/Layout.astro";
import HeroTitle from "../../../components/ui/HeroTitle.astro";
import { infoDocentes } from "../../../api/infoDocentes";
import PostulanteInfo from "../../../components/docentes/PostulanteInfo.astro";

const { postulante } = Astro.params;

const postulanteDetails = infoDocentes.find(
  (doc) => doc.nombre.toString() === postulante
);

if (!postulanteDetails) {
  return Astro.redirect("/404");
}
---

<Layout
  title=`Sistema Académico ESAM | ${postulante}`
  canonical="https://academico-docentes.esam.edu.bo/"
  description="Sistema académico de ESAM para contratación y postulación de docentes."
>
  <section class="container">
    <PostulanteInfo postulante={postulanteDetails} />
  </section>

  <HeroTitle titulo={postulanteDetails?.nombre} />
</Layout>
