.profile-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Limita la altura del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}
/* Estilo de barra de desplazamiento para navegadores basados en WebKit (Chrome, Edge, Safari) */
.profile-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.profile-container::-webkit-scrollbar-track {
  background: #e0e0e0; /* Color del fondo de la barra */
}

.profile-container::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Color del deslizador */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #e0e0e0; /* Espacio entre el deslizador y el fondo */
}

.loading-text {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.profile-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Aumentar el tamaño mínimo de las columnas */
  gap: 40px; /* Ajusta el espaciado entre las columnas */
}

.form-header-title{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #000000;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

.submit-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 15px;
  }

  .form-title {
    font-size: 20px;
    color: #0056b3;
  }

  .form-input {
    font-size: 14px;
  }

  .submit-button {
    font-size: 14px;
  }
  .profile-form {
    grid-template-columns: 1fr;
  }
}

.edit-button1{
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.edit-button1:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.cancel-button1{
  margin-left: 10px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cancel-button1:hover {
  background-color: #fa6773;
  transform: scale(1.02);
}