---
interface Props {
  image: string;
  title: string;
  href: string;
}

const { image, title, href } = Astro.props;
---

<a
  href={href}
  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated button-style"
  style="height: 300px; width: 300px;"
>
  <span class="v-btn__overlay"></span>
  <span class="v-btn__underlay"></span>
  <span class="v-btn__content">
    <i class={image} style="font-size: 200px; height: 200px; width: 200px;"></i>
    <h3 class="text-position">{title}</h3>
  </span>
</a>
