---
const redesSociales = [
  {
    link: "https://www.facebook.com/esamcochabambasucursal",
    ico: "/images/svg/facebook.svg",
    name: "facebook",
  },
  {
    link: "https://www.instagram.com/esamcochabambasucursal/",
    ico: "/images/svg/instagram.svg",
    name: "instagram",
  },
  {
    link: "https://bo.linkedin.com/company/esamcochabambasucursal",
    ico: "/images/svg/linkedin.svg",
    name: "linkedin",
  },
];
---

<footer>
  <div class="piePagina">
    <div>
      <div class="redesSociales">
        {
          redesSociales.map((rs) => (
            <a href={rs.link} target="_blank">
              <img class="ico" src={rs.ico} alt={rs.name} width="25px" />
            </a>
          ))
        }
      </div>
    </div>
    <div>
      <h5>©2024 ESAM COCHABAMBA SUCURSAL</h5>
      <h5>TELEFONO: 44521541 - 71315551</h5>
    </div>
  </div>
</footer>

<style>
  footer {
    margin-top: 9.5rem;
    height: 120px;
    width: 100%;
    background-color: #b8c7cc;
    display: grid;
    grid-template-rows: auto 1fr auto;

    position: relative;
    bottom: 0px;
  }
  @media (max-width: 1500px) {
    footer {
      position: relative;
      height: 120px;

      width: 100%;
    }
  }
  @media (max-width: 768px) {
    footer {
      position: relative;
      height: 180px;
      margin-top: 50px;
      width: 100%;
      display: flex;

      justify-content: center;
    }

    @media (max-width: 1500px) {
      footer {
        position: relative;
        height: 120px;

        width: 100%;
      }
    }

    #logoEsam {
      background-image: url(../img/Isotipo.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
    }
    #titulo {
      margin-left: 10px;
    }
    h1 {
      font-size: 18px;
    }
  }
  .redesSociales {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
    justify-items: center;
  }
  .ico {
    &:hover {
      transform: scale(1.1);
    }
  }
</style>
