<footer
  data-v-15925d9e
  class="v-footer v-theme--light custom-footer"
  style="bottom: 0px; z-index: 1004; transform: translateY(0%); position: fixed; left: 0px; width: calc(100% + 0px);"
>
  <div data-v-15925d9e class="v-container v-container--fluid v-locale--is-ltr">
    <div data-v-15925d9e class="v-row">
      <div data-v-15925d9e class="v-col-md-6 v-col-12 text-center text-md-left">
        <div data-v-15925d9e class="v-spacer"></div><a
          data-v-15925d9e
          class="v-btn v-btn--elevated v-btn--icon v-theme--light bg-white v-btn--density-default v-btn--size-default v-btn--variant-elevated"
          href="https://www.facebook.com/esamcochabambasucursal"
          ><span class="v-btn__overlay"></span><span class="v-btn__underlay"
          ></span><span class="v-btn__content" data-no-activator
            ><i
              data-v-15925d9e
              class="mdi-facebook mdi v-icon notranslate v-theme--light v-icon--size-default"
              aria-hidden="true"></i></span
          ></a
        ><a
          data-v-15925d9e
          class="v-btn v-btn--elevated v-btn--icon v-theme--light bg-white v-btn--density-default v-btn--size-default v-btn--variant-elevated"
          href="https://www.linkedin.com/company/esam-cochabamba/"
          ><span class="v-btn__overlay"></span><span class="v-btn__underlay"
          ></span><span class="v-btn__content" data-no-activator
            ><i
              data-v-15925d9e
              class="mdi-linkedin mdi v-icon notranslate v-theme--light v-icon--size-default"
              aria-hidden="true"></i></span
          ></a
        ><a
          data-v-15925d9e
          class="v-btn v-btn--elevated v-btn--icon v-theme--light bg-white v-btn--density-default v-btn--size-default v-btn--variant-elevated"
          href="https://www.instagram.com/esamcochabambasucursal/"
          ><span class="v-btn__overlay"></span><span class="v-btn__underlay"
          ></span><span class="v-btn__content" data-no-activator
            ><i
              data-v-15925d9e
              class="mdi-instagram mdi v-icon notranslate v-theme--light v-icon--size-default"
              aria-hidden="true"></i></span
          ></a>
      </div><div
        data-v-15925d9e
        class="v-col-md-6 v-col-12 text-center text-md-right"
      >
        <div data-v-15925d9e class="v-spacer"></div><span data-v-15925d9e
          >© 2024 ESAM COCHABAMBA SUCURSAL</span>
      </div>
    </div>
  </div>
</footer>
