---

---

<header
  data-v-46a34009
  class="v-toolbar v-toolbar--density-default v-theme--light v-locale--is-ltr v-app-bar"
  clipped-left="false"
  style="background-color: rgb(22, 45, 74); color: rgb(255, 255, 255); caret-color: rgb(255, 255, 255); top: 0px; z-index: 1006; transform: translateY(0%); position: fixed; left: 0px; width: calc(100% + 0px);"
>
  <div class="v-toolbar__content" style="height: 64px;">
    <div data-v-46a34009 class="v-toolbar-title font-italic">
      <div class="v-toolbar-title__placeholder">
        <a class="homeLogo" href="/"> Sistema Academico ESAM</a>
      </div>
    </div>
  </div>
</header>

<style>
  .homeLogo {
    color: rgb(230, 235, 240);
    text-decoration: none;
    font-size: 20px;
  }
</style>
