---
interface Props {
  info: string;

}

const { info } = Astro.props;

---

<div class="v-col">
    <div
      class="v-input v-input--horizontal v-input--center-affix v-input--density-default v-locale--is-ltr v-text-field"
    >
      <div class="v-input__control">
        <div
          class="v-field v-field--center-affix v-field--variant-filled v-theme--light v-locale--is-ltr"
        >
          <div class="v-field__overlay"></div><div
            class="v-field__loader"
          >
            <div
              class="v-progress-linear v-theme--light v-locale--is-ltr"
              role="progressbar"
              aria-hidden="true"
              aria-valuemin="0"
              aria-valuemax="100"
              style="top: 0px; height: 0px; --v-progress-linear-height: 2px; left: 50%; transform: translateX(-50%);"
            >
              <div
                class="v-progress-linear__background"
                style="width: 100%;"
              >
              </div><div class="v-progress-linear__indeterminate">
                <div class="v-progress-linear__indeterminate long">
                </div><div
                  class="v-progress-linear__indeterminate short"
                >
                </div>
              </div>
            </div>
          </div><div class="v-field__field" data-no-activator="">
            <label
              class="v-label v-field-label v-field-label--floating"
              aria-hidden="true"
              for="input-4"> {info} </label
            ><label class="v-label v-field-label" for="input-4"
              >{info} </label
            ><input
              size="1"
              type="text"
              id="input-4"
              aria-describedby="input-4-messages"
              required=""
              class="v-field__input"
            />
          </div><div class="v-field__outline"></div>
        </div>
      </div><div class="v-input__details">
        <div
          class="v-messages"
          role="alert"
          aria-live="polite"
          id="input-4-messages"
        >
        </div>
      </div>
    </div>
  </div>